.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    line-height: 1.5;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero h3 {
    font-style: 1.5rem;
}

.hero img {
    max-width: 100%;
    border-radius: 30px;
}